* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --bk-color: #000000;
  --primary-color: #E1E1E6;
}

body {
  font-size: 1.6rem;
  background: var(--bk-color);
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  width: 1100px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0 ;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search input {
  width: 46.2rem;
  height: 4.8rem;
  border: none;
  border-radius: .4rem;
  padding: 0 .8rem;

  color:#ffffff;
  background-color:  #06181C;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #065E7C;
  border-radius: .5rem;
  width: 17rem;
  height: 4.8rem;
  border: none;
  padding: 1.2rem 3.2rem;
  gap: 8px;

  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 2.4rem;
  color: #ffffff;

  cursor: pointer;
}

.search button:hover {
  background-color: #ffffff;
  color: #065E7C;
  filter: brightness(1.1);

}


button img:hover {
  filter: brightness(0.4) sepia(1) saturate(6) hue-rotate(186deg); 
}

table {
  width: 100%;
  border-collapse: collapse;

  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 2rem;
  color: var(--primary-color);
}

table th {
  background: #092D38;
  text-align: center;
  font-weight: normal;
  padding: 1.6rem 4rem;
}

table th:first-child {
  border-top-left-radius: 1.2rem;
  
}

table th:last-child {
  border-top-right-radius: 1.2rem;
  
}

table tr:last-child(even) {
  background: #4A808C;
}

table tr:nth-child(odd) {
  background: #4A808C;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: #F75A68;
  cursor: pointer;
}




