* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-main: 'Roboto', sans-serif;
  --font-color: #ffffff;

  font-size: 62.5%;
  --font-body: 1.6rem;
}

body {
  font-size: var(--font-body);
  font-family: var(--font-main);
}

nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  width: 48.9rem;
  height: 4.2rem;
  margin-top: 4rem;
  margin-left: 7.2rem;
}

a {
  color: var();
  text-decoration: none;
  font-weight: 700;
}

/* .fundo {
  width: 100vw;
  height: 100vh;
  background: url('image/fundo1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
 */