* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Roboto', sans-serif;
  

  font-size: 62.5%;
  --fs-body: 1.6rem;
}

body {
  font-size: var(--fs-body);
}

.page {
  display: flex;
  width: 128rem;
  height: 72rem;
}

header {
  width: 37.7rem;
  height: 72.0rem;
  background: hsla(218, 17%, 62%, 1);
  text-align: center;
}

header img {
  width: 21.5rem;
  height: 16.7rem;
  margin-top: 4.4rem;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {
  font-family: var(--ff-heading);
  color: hsla(0, 0%, 100%, 1);
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  height: 7.0rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 3.2rem 0;
  background: hsla(275, 18%, 79%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

header p {
  width: 27.5rem;
  height: 26.2rem;
  font-family: var(--ff-texting);
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 4.8rem 11.3rem ;

  color: hsla(0, 0%, 100%, 1);

}

main {
  display: grid;
  gap: 3.2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card img {
  width: 22rem;
  object-fit: cover;
  padding: 0 ;
}

img {
  height: auto;
}

a {
  color: #1F1534;
  text-decoration: none;
}